h1
{
  color: rgba(239, 98, 11, 0.727);
  margin-top :250px;
}
h2{
  font-size:small;
  text-align: center;
}
.btn{
  background-color:rgba(239, 98, 11, 0.727) ;;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
  height: 30px;
  margin-top: 50px;
}
.searchbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh;
  background:lightcyan;
}
.view-profile{
  color:rgba(239, 98, 11, 0.727) ;
  text-decoration: none;
  font-size: medium;
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;

}

.button-group {
  margin-top: 10px;
}

input[type=text] {
background-color:rgba(255, 98, 0, 0.727) ;
border:none;
padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
button {
  background-color: rgba(239, 98, 11, 0.727) ;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;

}
input::placeholder {
  color:white;
  font-size: small;
}
.App {
  height: 100%;
    text-align: center;
    margin-top: 50px;
    background-color: bisque;
  }
body
{
  background-color: bisque;
}
  
  .avatar {
    width: 50px;
    height: 50px;
    margin-top: 40px;
    border-radius: 50%;
    margin-bottom:2px;
  }
  
  .user {
    display:flex;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
  }
  
  .user-info {
    margin-left: 20px;
  }
  
  .user h2 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .btn1
  {
    margin-top: 10px;
    margin-left: 20px;
    background-color:rgba(239, 98, 11, 0.727) ;;
  }

  
  .repositories {
    display: inline-block;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
  }
  
  .repositories h3 {
    color: rgba(239, 98, 11, 0.727);
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .repositories-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .repositories-modal h3 {
    margin-top: 0;
    margin-bottom: 5px;
    color: rgba(239, 98, 11, 0.727);
  }
  
  .repositories-modal ul {
    list-style-type: none;
    padding: 0;
  }

.user-profile
{
  border:1px solid black;
  display: flex;
  height:100px;
  padding:2px;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}
.user-profile:hover {
  background-color:lightgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}